<div class="validation__container">
  <h2 class="validation__title">Password validation</h2>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="validation__form"
    ngNativeValidate
  >
    <div class="form__username">
      <label class="label__username">Username</label>
      <input
        type="text"
        formControlName="username"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
      />
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">Username is required</div>
        <div *ngIf="f['username'].errors['minlength']">
          Username must be at least 6 characters
        </div>
        <div *ngIf="f['username'].errors['maxlength']">
          Username must not exceed 20 characters
        </div>
      </div>
    </div>

    <div class="form__password">
      <label for="password" class="label__password">Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        autocomplete="new-password"
        [ngClass]="{
          'is-valid':
            (submitted || f['password'].dirty) && !f['password'].errors,
          'is-invalid':
            (submitted || f['password'].dirty) && f['password'].errors
        }"
      />
      <app-password-strength
        [passwordToCheck]="form.value.password"
        (passwordStrength)="onPasswordStrengthChanged($event)"
      ></app-password-strength>

      <div class="invalid-feedback" *ngIf="f['password'].errors">
        <span *ngIf="f['password'].errors['required']"
          >Password is required</span
        >
        <span *ngIf="f['password'].errors['minLength']"
          >Password must be at least 8 characters long</span
        >
      </div>
    </div>

    <div class="form__password">
      <label class="label__confirm">Confirm</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && f['confirmPassword'].errors
        }"
      />
      <div
        *ngIf="submitted && f['confirmPassword'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['confirmPassword'].errors['required']">
          Confirm Password is required
        </div>
        <div *ngIf="f['confirmPassword'].errors['matching']">
          Confirm Password does not match
        </div>
      </div>
    </div>

    <div class="form__buttons">
      <button type="submit" class="form__button">Submit</button>
      <button
        type="button"
        (click)="onReset()"
        class="form__button form__button_reset"
      >
        Reset
      </button>
    </div>
  </form>
</div>
