<div class="validation__container">
  <h2 class="validation__title">Password validation</h2>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="validation__form"
    ngNativeValidate
  >
    <div class="form__username">
      <label class="label__username">Username</label>
      <input
        type="text"
        formControlName="username"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
      />
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">Username is required</div>
        <div *ngIf="f['username'].errors['minlength']">
          Username must be at least 6 characters
        </div>
        <div *ngIf="f['username'].errors['maxlength']">
          Username must not exceed 20 characters
        </div>
      </div>
    </div>

    <div class="form__password">
      <label class="label__password">Password</label>
      <input
        type="password"
        (click)="onFirstClick()"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        title="Must contain at least one number, one letter, one symbol, and
          at least 8 or more characters"
      />
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div
          *ngIf="f['password'].errors['required']"
          class="invalid-feedback__item"
        >
          Password is required
          <div class="form__password-strength">
            <div class="password-strength__item"></div>
            <div class="password-strength__item"></div>
            <div class="password-strength__item"></div>
          </div>
        </div>
        <div
          *ngIf="f['password'].errors['minlength']"
          class="invalid-feedback__item"
        >
          Password must be min 8 char.
          <div class="form__password-strength">
            <div
              class="password-strength__item password-strength__item_red"
            ></div>
            <div
              class="password-strength__item password-strength__item_red"
            ></div>
            <div
              class="password-strength__item password-strength__item_red"
            ></div>
          </div>
        </div>
        <div *ngIf="f['password'].errors['maxlength']">
          Password must not exceed 25 characters
        </div>
        <div *ngIf="f['password'].errors['pattern']"></div>
      </div>
    </div>

    <div class="form__password">
      <label class="label__confirm">Confirm</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && f['confirmPassword'].errors
        }"
      />
      <div
        *ngIf="submitted && f['confirmPassword'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['confirmPassword'].errors['required']">
          Confirm Password is required
        </div>
        <div *ngIf="f['confirmPassword'].errors['matching']">
          Confirm Password does not match
        </div>
      </div>
    </div>

    <div class="form__buttons">
      <button type="submit" class="form__button">Submit</button>
      <button
        type="button"
        (click)="onReset()"
        class="form__button form__button_reset"
      >
        Reset
      </button>
    </div>
  </form>
</div>
