.validation__container {
  margin-top: 20px;
  padding: 10px 15px;
  background: rgb(238, 239, 243);
  border-radius: 20px;
}
.validation__title {
  font-size: 20px;
  margin: 20px 0px 15px;
  font-weight: 400;
}
.validation__form {
  display: block;
  max-width: 350px;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
}
.label__username {
  margin-right: 30px;
}
.label__password {
  margin-right: 35px;
}
.label__confirm {
  margin-right: 48px;
}
@media (max-width: 475px) {
  .validation__form {
    display: block;
    font-size: 16px;
    max-width: 230px;
    margin: 0 auto;
    text-align: center;
  }
  .label__username,
  .label__password,
  .label__confirm {
    margin-right: 0px;
  }
}
.form__username,
.form__password {
  margin-bottom: 20px;
}
.form__buttons {
  display: flex;
}

.form__username input,
.form__password input {
  padding: 5px 10px;
  border-radius: 10px;
}
.form__button {
  display: block;
  margin: 15px auto 10px;
  padding: 10px 14px;
  border-radius: 10px;
  background: rgb(96, 211, 246);
  font-size: 16px;
  transition: all 200ms ease-in-out;
}
.form__button:hover {
  background: rgb(112, 216, 248);
  box-shadow: rgba(79, 136, 216, 0.288) 0px 3px 8px;
}
.form__button:active {
  background: rgb(96, 211, 246);
}
.form__button_reset {
  display: block;
  margin: 15px auto 10px;
  padding: 10px 14px;
  border-radius: 10px;
  background: rgb(12, 47, 58);
  color: rgb(181, 237, 253);
  font-size: 16px;
  transition: all 200ms ease-in-out;
}
.form__button_reset:hover {
  background: rgb(27, 101, 123);
  box-shadow: rgba(32, 71, 124, 0.288) 0px 3px 8px;
}
.form__button_reset:active {
  background: rgb(12, 47, 58);
}
.invalid-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.invalid-feedback__item {
  margin: 7px 0 auto;
  text-align: center;
  max-width: 240px;
  white-space: nowrap;
}
.form__password-strength {
  display: flex;
  width: 240px;
  text-align: center;
  justify-content: space-between;
  margin-top: 10px;
}
.password-strength__item {
  width: 70px;
  height: 10px;
  background: grey;
}
.password-strength__item_red {
  background: red;
}
